## Usecases for numpy and pandas

***

### Qn.1. Write a Python program which accepts a list named: randomList=[ 'a',0,2]Use exception handling using try-catch

In [1]:
import sys

randomList=['a',0,2]

for item in randomList:
    try:
        print("The entry is",item)
        r=1/item
        break
    except:
        
        print("Oops!",sys.exc_info()[0],"occurred")
        print("Next entry")
        print()

print("The reciprocal of",item,"is",r)

The entry is a
Oops! <class 'TypeError'> occurred
Next entry

The entry is 0
Oops! <class 'ZeroDivisionError'> occurred
Next entry

The entry is 2
The reciprocal of 2 is 0.5

### Qn.2.Write a Python program to give exception "Array Out of Bound" if the user wants to access the elements beyond the list size(use try and except)

In [2]:
import sys
l=[1,2,3,4]
i=0
for i in l:  
    try:       
        print("Value at index",i)
        print("is",l[i])

    except:
        print("\nYour list does not contain anymore elements")
        print("Array out of bound ",sys.exc_info()[0])

Value at index 1
is 2
Value at index 2
is 3
Value at index 3
is 4
Value at index 4

Your list does not contain anymore elements
Array out of bound  <class 'IndexError'>

### Qn.3  Write a python module script that contains fib2() method to calculate the Fibonacci series till 1000 and save it as fibo.py

In [3]:
def fib2(n):
    a=0
    b=1
    print(a)
    while b<n:
        print(b)
        a, b=b,a+b

In [4]:
#To run this program as a module, I need to import the module as
#import fibo 
#fibo.fib2(1000)


fib2(1000)

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987

### Qn.4.Write a Python module script that contains is palindrome() method to calculate the input string as palindrome string or not and save it as palindrome.py

In [5]:
def ispalindrome(s):
        s=str(s)
        s=s.lower()
        rev=reversed(s)
        if list(s) == list(rev):
            return True
        return False

In [6]:
# To run this program I need to import the module as
        #import palindrome
        #ispalindrome('malayalam')
        #ispalindrome(121)
        #ispalindrome('any')
ispalindrome('malayalam')

True

In [7]:
ispalindrome(121)

True

In [8]:
ispalindrome('any')

False

### Qn.5.Write a program in Python with one class called Cipher

In [11]:
import numpy as np
class Cipher:
    L2I = dict(zip("ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789",range(62)))
    I2L = dict(zip(range(62),"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789"))
    
    def __init__(self,Instr=""):
        self.Instr=str(input("Enter the input string "))
    def encrypt(self,key):
        ciphertext = ""
        Instr=self.Instr
        for c in Instr:
            if c.isalnum():
                ciphertext += self.I2L[(self.L2I[c] + key)]
            else: 
                ciphertext += c
        return ciphertext
    
    def decrypt(self,Enstr,key):
        plaintext2 = ""
        for c in Enstr:
            if c.isalnum(): plaintext2 += self.I2L[(self.L2I[c] - key)]
            else: plaintext2 += c
        return plaintext2

k=np.random.randint(1,50,1)
key=k[0]
c=Cipher()
encryptstr=c.encrypt(key)
decryptstr=c.decrypt(encryptstr,key)
print("\n Input String is :\t"+c.Instr)
print("\nEncryption value of given string is :\t"+encryptstr)
print("\nDecrypted value is:\t"+decryptstr)

Enter the input string sree

 Input String is :	sree

Encryption value of given string is :	yxkk

Decrypted value is:	sree

### Qn.6. Get Data from the following link:

         http://files.grouplens.org/datasets/movielens/ml-20m.zip

In [12]:
import numpy as np
import pandas as pd

#### Qn1.Read the dataset using pandas

In [13]:
movies=pd.read_csv("movies.csv")
tags= pd.read_csv("tags.csv")
ratings=pd.read_csv("ratings.csv")

In [14]:
movies.head(3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance

In [15]:
tags.head(3)

   userId  movieId          tag   timestamp
0      18     4141  Mark Waters  1240597180
1      65      208    dark hero  1368150078
2      65      353    dark hero  1368150079

In [16]:
ratings.head(3)

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819

#### Qn.2.Extract first row from tags and print its type

In [17]:
tags.iloc[0]

userId                18
movieId             4141
tag          Mark Waters
timestamp     1240597180
Name: 0, dtype: object

In [18]:
print(type(tags.iloc[0]))

<class 'pandas.core.series.Series'>

#### Qn.3.Extract row 0,11,2000 from tags dataframe

In [19]:
tags.iloc[[0,11,2000]]

      userId  movieId                tag   timestamp
0         18     4141        Mark Waters  1240597180
11        65     1783      noir thriller  1368149983
2000     910    68554  conspiracy theory  1368043943

#### Qn.4. Print index,columns of the dataframe

In [20]:
ratings.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [21]:
ratings.index

RangeIndex(start=0, stop=20000263, step=1)

In [22]:
movies.columns

Index(['movieId', 'title', 'genres'], dtype='object')

In [23]:
movies.index

RangeIndex(start=0, stop=27278, step=1)

In [24]:
tags.columns

Index(['userId', 'movieId', 'tag', 'timestamp'], dtype='object')

In [25]:
tags.index

RangeIndex(start=0, stop=465564, step=1)

#### Qn.5.Calculate the descriptive statistics for the 'rating' column of the ratings dataframe.Verify using describe

In [26]:
ratings.head(3)

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819

In [27]:
print("The descriptive statistics for the rating column is:")
print("count= ",ratings["rating"].count())
print("mean= ",ratings["rating"].mean())
print("std=", ratings["rating"].std())
print("min= ",ratings["rating"].min())
print("50%= ",ratings["rating"].median())
print("max= ",ratings["rating"].max())

The descriptive statistics for the rating column is:
count=  20000263
mean=  3.5255285642993797
std= 1.051988919275684
min=  0.5
50%=  3.5
max=  5.0

In [28]:
ratings["rating"].describe()#verifying using desscribe

count    2.000026e+07
mean     3.525529e+00
std      1.051989e+00
min      5.000000e-01
25%      3.000000e+00
50%      3.500000e+00
75%      4.000000e+00
max      5.000000e+00
Name: rating, dtype: float64

#### Qn.6. Filter out ratings with rating >5

In [29]:
print(ratings[ratings["rating"]>5])

Empty DataFrame
Columns: [userId, movieId, rating, timestamp]
Index: []

#### Qn.7.Find how many null values,missing values are present.Deal with them.Print out how many rows have been modified

In [30]:
print("Null values in Ratings dataframe :\n ",ratings.isnull().sum())#finding null values in ratings column
print("\nNull values in Movies dataframe :\n ",movies.isnull().sum())#finding null values in movies column
print("\nNull values in Tags dataframe :\n ",tags.isnull().sum())#finding null values in tags column

Null values in Ratings dataframe :
  userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

Null values in Movies dataframe :
  movieId    0
title      0
genres     0
dtype: int64

Null values in Tags dataframe :
  userId        0
movieId       0
tag          16
timestamp     0
dtype: int64

In [32]:
#Only tags dataframe has null values for'tag' and there are 16 null values
tags.fillna(method = "ffill", inplace=True)# using forward fill to fill in the missing null values 
print("\nChecking Null values in Tags dataframe after ffill :\n ",tags.isnull().sum())#finding null values in tags column

Checking Null values in Tags dataframe after ffill :
  userId       0
movieId      0
tag          0
timestamp    0
dtype: int64

#### Qn.8.Filter out movies from the movies dataframe that are of type'Animation'

In [33]:
movies[movies.genres =="Animation"]

       movieId                                              title     genres
2503      2588                                   Cloudland (1998)  Animation
4906      5002                               Fritz the Cat (1972)  Animation
4907      5003            Nine Lives of Fritz the Cat, The (1974)  Animation
9455     27738                    Cathedral, The (Katedra) (2002)  Animation
9989     32840                                     Vincent (1982)  Animation
13444    66335                  Afro Samurai: Resurrection (2009)  Animation
13858    69469                        Garfield's Pet Force (2009)  Animation
14184    71158                Immigrants (L.A. Dolce Vita) (2008)  Animation
14492    72603                            Merry Madagascar (2009)  Animation
14578    72927                                 Donkey Xote (2007)  Animation
14580    72931                                       Tango (1981)  Animation
14876    74486                                       $9.99 (2008)  Animation
14938    74791   Town Called Panic, A (Panique au village) (2009)  Animation
15085    76709   Spider-Man: The Ultimate Villain Showdown (2002)  Animation
15860    80469                 Superman/Batman: Apocalypse (2010)  Animation
15990    81018          Illusionist, The (L'illusionniste) (2010)  Animation
16551    83603             Fern flowers (Fleur de fougère) (1949)  Animation
16649    84192  Corto Maltese: Ballad of the Salt Sea (Corto M...  Animation
18144    90843  Lavatory Lovestory (Ubornaya istoriya - lyubov...  Animation
18145    90845  Fall of the House of Usher, The (Zánik domu Us...  Animation
18224    91187                                   Millhaven (2010)  Animation
18695    93083                                  Live Music (2009)  Animation
18980    94423  Disney Princess Collection: Jasmine's Enchante...  Animation
19562    96897  Bleach: Fade to Black (Bur&#299;chi Fade to Bl...  Animation
20310    99820  Pokémon the Movie: Black - Victini and Reshira...  Animation
20311    99822  Pokémon the Movie: White - Victini and Zekrom ...  Animation
20314    99832                            Hand, The (Ruka) (1966)  Animation
20527   100509               Tale of Tales (Skazka skazok) (1979)  Animation
20871   102007                    Invincible Iron Man, The (2007)  Animation
20872   102009                       Thor: Tales of Asgard (2011)  Animation
...        ...                                                ...        ...
25207   118948                                   Blackbird (1959)  Animation
25208   118950                                  A Phantasy (1952)  Animation
25211   118956                           Lines: Horizontal (1962)  Animation
25212   118958                                      Mosaic (1966)  Animation
25213   118960                            Begone Dull Care (1949)  Animation
25214   118962                                   Synchromy (1971)  Animation
25538   120853                             Fresh Guacamole (2012)  Animation
25539   120855                                Adam and Dog (2012)  Animation
25663   121302                              Someone's Gaze (2013)  Animation
25718   121600                       Bosko's Parlor Pranks (1934)  Animation
26052   124889    The Adventures of Tom Thumb & Thumbelina (2002)  Animation
26163   125924                           The Periwig-Maker (1999)  Animation
26169   125936                                        Crac (1981)  Animation
26171   125940                                      Syrinx (1966)  Animation
26181   125960                     The Trip to Squash Land (1967)  Animation
26185   125968     It's Christmastime Again, Charlie Brown (1992)  Animation
26189   125976                       Nocturna Artificialia (1979)  Animation
26192   125982                              Trick or Treat (1952)  Animation
26207   126012            The Fat Albert Halloween Special (1977)  Animation
26226   126050                    Stille Nacht I: Dramolet (1988)  Animation
26230   126058            Rehearsals for Extinct Anatomies (1987)  Animation
26236   126070                               Chainsaw Maid (2007)  Animation
26237   126072                        The Little Matchgirl (2006)  Animation
26246   126090                         Hedgehog in the Fog (1975)  Animation
26247   126092                               The Cat's Out (1931)  Animation
26248   126094                Claymation Comedy of Horrors (1991)  Animation
26319   126405        The Adventures of André and Wally B. (1984)  Animation
26809   128864                              Four Sahibjade (2014)  Animation
27103   130394                                  The Mascot (1934)  Animation
27155   130644  The Garden of Sinners - Chapter 5: Paradox Par...  Animation

[83 rows x 3 columns]

#### Qn.9.Find the average ratings of movies

In [34]:
ratings.rating.mean()

3.5255285642993797

#### Qn.10.Perform an inner join of movies and tags based on movieId

In [35]:
result=pd.merge(movies,tags, how = "inner", on = "movieId")

In [36]:
result.head()

,movieId,title,genres,userId,tag,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1644,Watched,1417736680
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,computer animation,1183903155
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,Disney animated feature,1183933307
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,Pixar animation,1183934770
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,TÃ©a Leoni does not star in this movie,1245093573

#### Qn.11.Print out the 5 movies that belong to the Comedy genre and having rating greater than 4

In [37]:
df1=pd.merge(movies,ratings, how = "inner", on = "movieId")#performing inner join based on movieid and creating a dataframe df1

In [38]:
c1=df1[(df1["genres"] =="Comedy") & (df1["rating"] >4)] # applying condition for df1

In [39]:
c1.head()

,movieId,title,genres,userId,rating,timestamp
87435,5,Father of the Bride Part II (1995),Comedy,117,5.0,861553146
87437,5,Father of the Bride Part II (1995),Comedy,127,5.0,847127740
87455,5,Father of the Bride Part II (1995),Comedy,350,5.0,1360209812
87460,5,Father of the Bride Part II (1995),Comedy,390,5.0,836139583
87462,5,Father of the Bride Part II (1995),Comedy,401,5.0,847049988

#### Qn.12.Split 'genres' into multiple columns

In [40]:
new = movies["genres"].str.split("|", expand = True) 
new.head()

,0,1,2,3,4,5,6,7,8,9
0,Adventure,Animation,Children,Comedy,Fantasy,None,None,None,None,None
1,Adventure,Children,Fantasy,None,None,None,None,None,None,None
2,Comedy,Romance,None,None,None,None,None,None,None,None
3,Comedy,Drama,Romance,None,None,None,None,None,None,None
4,Comedy,None,None,None,None,None,None,None,None,None

#### Qn.13. Extract year from title, e.g.(1995)

In [41]:
movies['year'] = movies['title']
movies['year']=movies.year.str[-6:]

In [42]:
movies.head()

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,(1995)
1,2,Jumanji (1995),Adventure|Children|Fantasy,(1995)
2,3,Grumpier Old Men (1995),Comedy|Romance,(1995)
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,(1995)
4,5,Father of the Bride Part II (1995),Comedy,(1995)

#### Qn.14. Select rows based on timestamps later than 2015-02-01

In [43]:
tags["times"]=pd.to_datetime(tags["timestamp"], format = '%Y-%m-%d', exact = True)
ratings["times"]=pd.to_datetime(ratings["timestamp"], format = '%Y-%m-%d', exact = True)
print("\nTags\n",tags[tags["times"]> '2015-02-01'])
print("\nRatings\n",ratings[ratings["times"]> '2015-02-01'])

Tags
 Empty DataFrame
Columns: [userId, movieId, tag, timestamp, times]
Index: []

Ratings
 Empty DataFrame
Columns: [userId, movieId, rating, timestamp, times]
Index: []

#### Qn.15. Sort the tags dataframe based on timestamp

In [44]:
sorted_tags=tags.sort_values(by=['timestamp'])
sorted_tags.head()

,userId,movieId,tag,timestamp,times
333932,100371,2788,monty python,1135429210,1970-01-01 00:00:01.135429210
333927,100371,1732,coen brothers,1135429236,1970-01-01 00:00:01.135429236
333924,100371,1206,stanley kubrick,1135429248,1970-01-01 00:00:01.135429248
333923,100371,1193,jack nicholson,1135429371,1970-01-01 00:00:01.135429371
333939,100371,5004,peter sellers,1135429399,1970-01-01 00:00:01.135429399

***